{% extends 'base.html' %}

{% block content %}

{% if status == "OK" %}
    <h1> Ticket List </h1>

    {% for ticket in content.tickets %}
        <p>{{ ticket.id }}
        <a href="{{ request.build_absolute_url }}{{ ticket.id }}" >{{ticket.subject}}</a>
        [{{ ticket.status }}]</p>

    {% endfor %}

{% else %}

    <h1>Ooops, something went wrong...</h1>
    <p><b>Error Type:</b> {{ status }}</p>
    <p><b>Hint:</b> {{ hint }}</p>
    <p><b>Original Error info:</b> {{ content }} </p>

{% endif %}

{% endblock %}
