{% extends 'base.html' %}

{% block content %}

{% if status == "OK" %}

    <h1>Ticket Detail</h1>
    {% with ticket=content.ticket %}
        <p>Id: {{ ticket.id }}</p>
        <p>Subject: {{ ticket.subject }}</p>
        <p>Description: {{ ticket.description }}</p>
        <p>Current status: {{ ticket.status }}</p>
    {% endwith %}

{% else %}

    <h1>Ooops, something went wrong...</h1>
    <p><b>Error Type:</b> {{ status }}</p>
    {% if hint %}
        <p><b>Hint:</b> {{ hint }}</p>
    {% endif %}
    <p><b>Original Error info:</b> {{ content }} </p>

{% endif %}

{% endblock %}
